<h1>Sign Up</h1>
<form #signInForm="ngForm" (ngSubmit)="onSubmit(signInForm)">
  <div>
    <label for="email">Email:</label>
    <input 
      type="email" 
      name="email" 
      id="email" 
      placeholder="Enter your email address"
      [(ngModel)]="user.email"
      #email="ngModel"
      required>
      <span *ngIf="signInForm.submitted && email.invalid" style="color: red">
        <span *ngIf="email.errors?.['required']">Email is required.</span>
        <span *ngIf="email.errors?.['email']">Invalid email format.</span>
      </span>
  </div>

  <div>
    <label for="password">Password:</label>
    <input 
      type="password" 
      name="password" 
      id="password" 
      placeholder="Enter your password"
      [(ngModel)]="user.password"
      #password="ngModel"
      required>
      <span *ngIf="signInForm.submitted && password.invalid" style="color: red">Password required</span>
  </div>

  <div>
    <label for="name">Name:</label>
    <input 
      type="text" 
      name="name" 
      id="name" 
      placeholder="Enter your name"
      [(ngModel)]="user.name"
      #name="ngModel"
      required
      minlength="5"
      maxlength="25">
      <span *ngIf="signInForm.submitted && name.invalid" style="color: red">
        <span *ngIf="name.errors?.['required']">Name is required.</span>
        <span *ngIf="name.errors?.['minlength']">Name must be at least 5 characters long.</span>
        <span *ngIf="name.errors?.['maxlength']">Name cannot be more than 25 characters long.</span>
      </span>
  </div>

  <div>
    <label for="surname">Surname:</label>
    <input 
      type="text" 
      name="surname" 
      id="surname" 
      placeholder="Enter your name"
      [(ngModel)]="user.surname"
      #surname="ngModel"
      required
      minlength="5"
      maxlength="25">
      <span *ngIf="signInForm.submitted && surname.invalid" style="color: red">
        <span *ngIf="surname.errors?.['required']">Surname is required.</span>
        <span *ngIf="surname.errors?.['minlength']">Surname must be at least 5 characters long.</span>
        <span *ngIf="surname.errors?.['maxlength']">Surname cannot be more than 25 characters long.</span>
      </span>
  </div>

  <div>
    <label for="alias">Alias:</label>
    <input 
      type="text" 
      name="alias" 
      id="alias" 
      placeholder="Enter your alias"
      [(ngModel)]="user.alias"
      #alias="ngModel"
      required
      minlength="5"
      maxlength="25">
      <span *ngIf="signInForm.submitted && alias.invalid" style="color: red">
        <span *ngIf="alias.errors?.['required']">Alias is required.</span>
        <span *ngIf="alias.errors?.['minlength']">Alias must be at least 5 characters long.</span>
        <span *ngIf="alias.errors?.['maxlength']">Alias cannot be more than 25 characters long.</span>
      </span>
  </div>

  <div>
    <label for="date">Date:</label>
    <input 
      type="date" 
      name="date" 
      id="date" 
      placeholder="Enter your birthdate"
      [(ngModel)]="user.birth"
      #date="ngModel"
      required>
      <span *ngIf="signInForm.submitted && date.invalid" style="color: red">
        <span *ngIf="alias.errors?.['required']">Date</span>
      </span>
  </div>

  <button type="submit">Sign up</button>
</form>
